include mixins
doctype html
html(lang='ru')
    +dev_head("DREAMSEXPRESS Добавление товара", false, false, false, false, false, false, true)

    body.mCSB
        .wrapper
            .base
                +header(1)
                
                div.main_content
                    .section_inner
                        h1.page_title.fw_700
                            span Добавление товара
                        
                        .cabinet_block
                            ul#product_switcher.tab_holder.tab_v3
                                li.tab_cell: a.tab_link(href='#product_tab_1'): span Все товары
                                li.tab_cell: a.tab_link(href='#product_tab_2'): span Добавить товар

                            .tabBlock(data-tab-context='#product_switcher')
                                #product_tab_2(style='display:none')
                                    .tab_content: .cart_block
                                        .cart_col
                                            .cart_unit.checkout_block(style='margin:0')
                                                form.addForm(action='/add' method="POST")
                                                    .cart_unit_info
                                                        .checkout_caption Заполните поля
                                                        .form_cell
                                                            input.f_input.input_v6(placeholder='Название' name='product_name' required)
                                                            
                                                        .form_cell
                                                            textarea.f_input.input_v6(placeholder='Короткое писание' name='product_info' required) какое-то короткое описание

                                                        .form_cell
                                                            textarea.f_input.input_v6(placeholder='Длинное описание' name='product_description') какое-то длинное описание для страницы товара

                                                        .form_cell
                                                            label.gl_link.inner_link
                                                                input.inp_hidden.uploadInput(name='imgs' type='file' data-target='product_main_img')
                                                                span Загрузить основную картинку
                                                            input.f_input.input_v6.inp_hidden(placeholder='Основная картинка' name='product_main_img' required)
                                                            ul.upload_preview.uploadPreview
                                                                
                                                        .form_cell
                                                            label.gl_link.inner_link
                                                                input.inp_hidden.uploadInput(name='img' type='file' data-target='product_hover_img')
                                                                span Загрузить ховер картинку
                                                            input.f_input.input_v6.inp_hidden(placeholder='Ховер картинка' name='product_hover_img' required)
                                                            ul.upload_preview.uploadPreview
                                                            
                                                        .form_cell
                                                            label.gl_link.inner_link
                                                                input.inp_hidden.uploadInput(name='img' type='file' data-target='product_img_list' multiple)
                                                                span Загрузить картинки для галереи
                                                            input.f_input.input_v6.inp_hidden(placeholder='Галерея картинок' name='product_img_list')
                                                            ul.upload_preview.uploadPreview

                                                        .form_cell
                                                            input.f_input.input_v6(placeholder='Старая цена' name='product_old_price')
                                                            
                                                        .form_cell
                                                            input.f_input.input_v6(placeholder='Цена' name='product_price' required)
                                                            
                                                        .form_cell
                                                            input.f_input.input_v6(placeholder='Размер' name='product_sizes' required)
                                                            
                                                        .form_cell
                                                            input.f_input.input_v6(placeholder='Цвета' name='product_colors' required)
                                                            
                                                        .form_cell
                                                            input.f_input.input_v6(placeholder='Категория' name='product_category' required)
                                                            
                                                        .form_cell
                                                            input.f_input.input_v6(placeholder='Артикул' name='product_code' required)
                                                            
                                                        .form_row
                                                            .form_cell
                                                                label.check_v3.check_emul
                                                                    input.inp_hidden(type='radio' name='product_adult' value='a')
                                                                    span.check_text
                                                                        span.check_icon.i-car-baby-toy-outline
                                                                        span Взрослый
            
                                                            .form_cell
                                                                label.check_v3.check_emul
                                                                    input.inp_hidden(type='radio' name='product_adult' value='c' checked)
                                                                    span.check_text
                                                                        span.check_icon.i-skate-with-handle-side-view
                                                                        span Десткий
            
                                                        .form_cell
                                                            .select_box_v2
                                                                select.select2(name='product_gender')
                                                                    option(value='m') М
                                                                    option(value='f') Ж
                                                            
                                                        .form_row
                                                            .form_cell
                                                                label.check_v3.check_emul
                                                                    input.inp_hidden(type='radio' name='product_season' value='w')
                                                                    span.check_text
                                                                        span.check_icon.i-car-baby-toy-outline
                                                                        span Зима
            
                                                            .form_cell
                                                                label.check_v3.check_emul
                                                                    input.inp_hidden(type='radio' name='product_season' value='s')
                                                                    span.check_text
                                                                        span.check_icon.i-skate-with-handle-side-view
                                                                        span Лето
                                                                        
                                                            .form_cell
                                                                label.check_v3.check_emul
                                                                    input.inp_hidden(type='radio' name='product_season' value='d')
                                                                    span.check_text
                                                                        span.check_icon.i-duck-side-view-outline
                                                                        span Демисезон
                                                                        
                                                            .form_cell
                                                                label.check_emul.check_v1
                                                                    input.inp_hidden(type='checkbox' checked name='in_stock')
                                                                    span.check_text В наличии
                                                                        
                                                            .form_cell
                                                                label.check_emul.check_v1
                                                                    input.inp_hidden(type='checkbox' checked name='is_hit')
                                                                    span.check_text Хит продаж
                                                                        
                                                    button.btn_v3.blue_btn.order_confirm_btn.saveBtn Сохранить
                                
                                #product_tab_1
                                    .tab_content
                                        - if (all_products && all_products.length)
                                            .orders_table
                                                .order_row.caption_row
                                                    .order_cell.col_1
                                                        span.cell_val Название
                                                    .order_cell.col_2
                                                        span.cell_val Наличие/Цена
                                                    .order_cell.col_3
                                                        span.cell_val Хит/Категория
                                                    .order_cell.col_4
                                                        span.cell_val Инфо
                                                        
                                                - for prod in all_products
                                                    .order_row.orderRow
                                                        .order_expand_btn.orderExpandBtn
                                                        .order_cell.col_1
                                                            - if (prod.main_img)
                                                                a.order_img(href='/product/' + prod.url + (dev ? '.html' : '') target='_blank')
                                                                    img(src= prod.main_img)
                                                            span.cell_val= prod.name
                                                        .order_cell.col_2
                                                            span.cell_val
                                                                span.prod_f_icon(class = prod.in_stock ? 'in_stock' : 'expected')
                                                                span= formatPrice(prod.price) + ' грн.'
                                                                - if (prod.old_price)
                                                                    span= ', старая цена ' + formatPrice(prod.old_price) + ' грн.'

                                                        .order_cell.col_3
                                                            span.cell_val
                                                                //-.prod_f_inf
                                                                span.prod_f_icon(class = prod.is_hit ? 'in_stock' : 'expected')
                                                                span= prod.category

                                                        .order_cell.col_4
                                                            span.cell_val.fw_500: a.black_link(href='/edit/' + prod.url target = '_blank') Редактировать
    
                                                    .orderExpandRow(style='display:none;')
                                                        .order_row.collapsed
                                                            .order_cell.col_1_w
                                                                .order_product
                                                                    - if (prod.hover_img)
                                                                        a.order_img(href='/product/' + prod.url + (dev ? '.html' : '') target='_blank')
                                                                            img(src= prod.hover_img)
                                                                    - if (prod.img_list && prod.img_list.length)
                                                                        - var arr = prod.img_list.split(',');
                                                                        - for img in arr
                                                                            a.order_img(href='/product/' + prod.url + (dev ? '.html' : '') target='_blank')
                                                                                img(src= img.trim())
                                                                
                                                                - if (prod.info && prod.info.length)
                                                                    p= prod.info
                                                                    
                                                                - if (prod.description && prod.description.length)
                                                                    p= prod.description

                                                            .order_cell.col_2_w
                                                                .cell_val
                                                                    - var arr = prod.colors.split(',');
                                                                    ul.prod_colors
                                                                        - for item, i in arr
                                                                            li
                                                                                - var clr = item.trim();
                                                                                - if (/^#/.test(clr) && isHex(clr))
                                                                                    .prod_color(style='background:' + clr)
                                                                                - else
                                                                                    .prod_color
                                                                                        img(src= clr)
                                                                                
                                                                    p 
                                                                        | Пол: 
                                                                        span= prod.gender
                                                                        
                                                                    p 
                                                                        | Сезон: 
                                                                        span= prod.season
                                                                        
                                                                        
                                                            .order_cell.col_3_w
                                                                .cell_val
                                                                    p Размеры: #{prod.sizes}

                                                                    p Для #{prod.adult ? 'взрослых' : 'детей'}

                                                                    p Артикул: #{prod.product_code}

            +footer()
            
        +aside_left()
        +aside_right()
        +popups()
        +scripts("DREAMSEXPRESS Добавление товара", false, false, false, false, false, false, true)
        
