doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
    body
        h1
            span Вопрос со   
            a(href= pathname) страницы
            
        p
            span Имя: 
            span= name
        p
            span Телефон: 
            span= phone
        p
            span Вопрос: <br>
            span= question
            