include mixins
doctype html
html(lang='ru')
    +dev_head("DREAMSEXPRESS Ошибка", false, false, false, false, false, true)

    body.mCSB
        .wrapper
            .base
                +header(1)
                
                div.main_content
                    .section_inner
                        - var bc = breadcrumbs ? breadcrumbs : [['Главная', 'Что-то пошло не так ((']];

                        +breadcrumbs(bc)
                        h1.page_title.fw_700
                            span= 'Ошибка' + (error ? ', ' + error : '') + (message ? '. ' + message : '')

                        - if (url)
                            h2= url
                        //- if (message)
                            h3= message
                        - if (error)
                            h4= error.status
                            pre #{error.stack}
                        
            +footer()
            
        +aside_left()
        +aside_right()
        +popups()
        +scripts("DREAMSEXPRESS Ошибка", false, false, false, false, false, true)
        
